{

       "gwas_groups": 
	{
		"all-gwas":
		{
			"files": 
			[
				"data/gwas/prepared/*/*.gz",
				"data/gwas/prepared/23andme_PD_hg38.txt.gz"	
			],
			"gwas_cutoff_pvals": [1e-5],
			"gwas_windows": [500000],
			"eqtl_targets":
			{
				"gtex-brain":
				{
					"cutoff_pvals": [1e-5],
					"windows": [0]
				}
			}
		}
	},
       "eqtl_groups": 
	{
		"gtex-brain":
		{
			"files": [
				"data/eqtls/gtex_v8/Brain*.gz",
			]
		}
	},
	"output_directory": "output/test-snps",
	"output_base" : "ad-pd-v8"
}
