{
	"genome_build": "hg38",
	"input_base_dir": "data/gwas/raw",
	"output_base_dir": "data/gwas/prepared",
	"studies":
	[
		{
			"study_info": "Alzheimers_Kunkle_2019",
			"traits":
			{
				"Alzheimers_Kunkle_2019": ["Kunkle_etal_Stage1_results.txt.gz"] 
			},
			"delimiter": " ",
			"chr_index": "1",
			"snp_pos_index": "2",
			"pvalue_index": "8",
			"effect_allele_index": "4",
			"non_effect_allele_index": "5",
			"direction_index": "6",
			"effect_index": "6",
			"se_index": "7"
		},
		{
			"study_info": "Alzheimers_Jansen_2018",
			"traits":
			{
				"Alzheimers_Jansen_2018": ["AD_sumstats_Jansenetal.txt.gz"] 
			},
			"delimiter": "\\s*",
			"rsid_index": "6",
			"pvalue_index": "8",
			"effect_index": "13",
			"se_index": "14",
			"effect_allele_index": "4",
			"non_effect_allele_index": "5"
		},
		{
			"study_info": "Parkinsons_Pankratz_2012",
			"traits":
			{
				"Parkinsons_Pankratz_2012": ["Pankratz_Parkinsons_22687-SuppTable1.txt"]
			},
			"effect_allele_index": "2",
			"non_effect_allele_index": "3",
			"direction_index": "4",
			"delimiter": "\t",
			"rsid_index": "1",
			"chr_index": "-1",
			"snp_pos_index": "-1",
			"pvalue_index": "6",
                        "effect_index": "4",
                        "se_index": "5"
		},
		{
			"study_info": "Alzheimers_Lambert_2013",
			"traits":
			{
				"Alzheimers_Lambert_2013": ["IGAP_stage_1.txt"]
			},
			"effect_allele_index": "3",
			"non_effect_allele_index": "4",
			"direction_index": "6",
			"delimiter": "\t",
			"rsid_index": "2",
			"chr_index": "-1",
			"snp_pos_index": "-1",
			"pvalue_index": "8",
			"effect_index": "6",
			"se_index": "7"
		},
		{
			"study_info": "Alzheimers-Protein-Levels_Ramirez_2014",
			"traits":
			{
				"Amyloid-Beta-1-42": ["MA_Abeta42_Short.tab"],
				"Phosphorylated-Tau-Position-181": ["MA_pTau181_Short.tab"]
			},
			"effect_allele_index": "5",
			"non_effect_allele_index": "6",
			"direction_index": "8",
			"delimiter": "\t",
			"rsid_index": "2",
			"chr_index": "-1",
			"snp_pos_index": "-1",
			"pvalue_index": "10",
			"effect_index": "8",
			"se_index": "9"
		}
	]
}
