{
	"out_dir_group": "colocalization",

	"gwas_experiments": 
	{	
		"data/gwas/prepared/Parkinsons_Pankratz_2012/Parkinsons_Pankratz_2012.txt.gz": {"ref": "1kgenomes", "gwas_format": "pval_only"},
		"data/gwas/prepared/Alzheimers_Lambert_2013/Alzheimers_Lambert_2013.txt.gz": {"ref": "1kgenomes", "gwas_format": "pval_only"},
		"data/gwas/prepared/Alzheimers_Jansen_2018/Alzheimers_Jansen_2018.txt.gz": {"ref": "1kgenomes", "gwas_format": "pval_only"},
		"data/gwas/prepared/23andme_PD_hg38.txt.gz": {"ref": "1kgenomes", "gwas_format": "pval_only"},
		"data/gwas/prepared/Alzheimers_Kunkle_2019/Alzheimers_Kunkle_2019.txt.gz": {"ref": "1kgenomes", "gwas_format": "pval_only"}
	},

	"eqtl_experiments": 
	{
		"data/eqtls/gtex_v8/Brain_Amygdala.allpairs.txt.gz.eQTLs.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"data/eqtls/gtex_v8/Brain_Spinal_cord_cervical_c-1.allpairs.txt.gz.eQTLs.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"data/eqtls/gtex_v8/Brain_Substantia_nigra.allpairs.txt.gz.eQTLs.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"data/eqtls/gtex_v8/Brain_Caudate_basal_ganglia.allpairs.txt.gz.eQTLs.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"data/eqtls/gtex_v8/Brain_Anterior_cingulate_cortex_BA24.allpairs.txt.gz.eQTLs.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"data/eqtls/gtex_v8/Brain_Cerebellar_Hemisphere.allpairs.txt.gz.eQTLs.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"data/eqtls/gtex_v8/Brain_Cerebellum.allpairs.txt.gz.eQTLs.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"data/eqtls/gtex_v8/Brain_Cortex.allpairs.txt.gz.eQTLs.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"data/eqtls/gtex_v8/Brain_Frontal_Cortex_BA9.allpairs.txt.gz.eQTLs.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"data/eqtls/gtex_v8/Brain_Hippocampus.allpairs.txt.gz.eQTLs.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"data/eqtls/gtex_v8/Brain_Hypothalamus.allpairs.txt.gz.eQTLs.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"data/eqtls/gtex_v8/Brain_Nucleus_accumbens_basal_ganglia.allpairs.txt.gz.eQTLs.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"data/eqtls/gtex_v8/Brain_Putamen_basal_ganglia.allpairs.txt.gz.eQTLs.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"}
	},

	"methods": 
	{
		"finemap":{}
	},

        "ref_genomes": 
	{
		"1kgenomes": 
		{
			"file": 
				"data/1KG/hg38/ALL.chr{0}_GRCh38.genotypes.20170504.vcf.gz",

                	"af_attribute": 
				"AF",

                        "N": 
				2504
	        }
        },

	"selection_basis":
                "snps_from_list",

	"snp_list_file":
		"output/test-snps/final-test-list.txt"
}
